*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-color: rgba(255, 255, 255, 0); /* Fondo semi-transparente */
    backdrop-filter:blur(0.18em); /* Aplica el desenfoque */
    background: url(../Assets/images/fondo.gif) no-repeat center top;
    background-size: cover;

    height: 100vh;
    width: 100vw;
}
nav{
    height: 100%;

    margin-left: 3em;
    margin-right: 3em;
}
#hamburger{
    width: 4em;
}
#headerNv{
    
    flex: 9;
    justify-content: flex-end;
    width: max-content;
    max-height: 20vh;
    padding-right: 0%;
    padding-left: 0%;

    /* align-items: flex-end; */
    /* background-image: url(../Assets/images/headerimage.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: auto 20vh; */

}

#logo{
    flex: 1;

    max-height: 20vh;
}

main{
    height: 70vh;
    /* background-color: blueviolet; */
}

footer{
    height: 10vh;
    /* background-color: chartreuse; */
}


.flex{
    display:flex;
}

.row{
    flex-direction: row;
}

.column{
    flex-direction: column;
}

.flexCenter{
    align-items: center;
    text-align: center;
}

.navText{
    display: none;
    flex: 1;
    text-decoration: none;
    color: #672b00;
    font-size: larger;
    font-weight: 900;
    font-family: "inter";
    /* background-color: aliceblue; */
}


#headerImg{
    width: 0%;
}

#logoDiscord{display: none;}

#home{
    display: none;
}


/* --------------------------------------------PC---------------------------------------------------------- */


@media only screen and (min-width: 1095px) {
    #hamburger{display: none;}
    #logoDiscord{
        display: flex;
        width: 40%;}
    #home{
        display: flex;width: 27%;}

    
    *{
        margin: 0;
        padding: 0;
        border: 0;
    }
    
    body{
        background-color: rgba(255, 255, 255, 0); /* Fondo semi-transparente */
        backdrop-filter:blur(0.18em); /* Aplica el desenfoque */
        background: url(../Assets/images/fondo.gif) no-repeat center top;
        background-size: cover;
    
        height: 100vh;
        width: 100vw;
    }
    
    header{
        height: 20vh;
    }
    
    nav{
        
        
        height: 100%;
    
        margin-left: 3em;
        margin-right: 3em;
    }
    
    #headerNv{
        display: flex;
        flex: 9;
    
        max-height: 20vh;
        padding-right: 30%;
        padding-left: 5%;
        /* background-image: url(../Assets/images/headerimage.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-size: auto 20vh; */
    
        /* background: url(../Assets/images/headerimage.png) no-repeat cover; */
    }
    
    #logo{
        flex: 1;
    
        max-height: 20vh;
    }
    
    main{
        height: 70vh;
        /* background-color: blueviolet; */
    }
    
    footer{
        height: 10vh;
        /* background-color: chartreuse; */
    }
    
    
    .flex{
        display:flex;
    }
    
    .row{
        flex-direction: row;
    }
    
    .column{
        flex-direction: column;
    }
    
    .flexCenter{
        align-items: center;
        text-align: center;
    }
    
    .navText{
        display: flex;
        flex: 1;
        text-decoration: none;
        color: #672b00;
        font-size: larger;
        font-weight: 900;
        font-family: "inter";
        /* background-color: aliceblue; */
    }
    .navHamburger{
        
    }

    
    #headerImg{
        z-index: -1;
        position: absolute;
    
        width: 85vw;
        height: 18vh;
    
        top: 1vh;
        right: 1vw;
    
        /* min-height: 20vh;
        width: 80vw; */
        /* width: em; */
    }
    
    
}