.fondoBorroso {
    position: absolute; /* Posiciona el contenido sobre la imagen */
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: rgba(255, 255, 255, 0); /* Fondo semi-transparente */
    backdrop-filter:blur(0.18em); /* Aplica el desenfoque */
}
body {
    background: url(/Assets/images/fondo.gif) no-repeat center top;
    background-size: cover;
    background-color: #160216;
}

/*-------------------------------------------------------------------------------------*/


header {
    margin: 0%;
    border: solid red 5px;
    position: relative; /* Posiciona el texto sobre el fondo borroso */
    z-index: 1;
}

/*--------------------------------------------------------*/

nav{
    border: solid blue  5px;
}
