body{
    margin: 0%;
}


.titulo {
    text-align: center;
    font-size: 2em;
    font-family: 'Minecraft', sans-serif;
    font-weight: bold;
    color: #fefefe;
    margin: 1em 0;
  }
  
  .titulo::before,
  .titulo::after {
    content: '';
    display: inline-block;
    width: 30%;
    height: 2px;
    background-color: #fefefe;
    vertical-align: middle;
    margin: 0 1em;
  }
  
  #media {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

  }
  
  #galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px; /* Espacio entre las imágenes */
    width: 65%;
  }
  
  .imgContainer {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 calc(33.33% - 10px); /* Cada imagen ocupa un 33.33% del ancho menos el espacio de gap */
    max-width: calc(33.33% - 10px); /* Asegura que no se sobrepasen de 3 por línea */
  }
  
  .imgContainer img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .imgContainer img:hover {
    transform: scale(2.05); /* Efecto de zoom al pasar el ratón sobre la imagen */
  }
  
  